@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
    font-family: Arial;
}

body {
    background-color: #000;
    color: #fff;
}

a {
    color: #fff;
}

a:hover {
    color: #f40;
}

#page {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("../images/bg.jpg") no-repeat top center;
}

#siteTitle {
    color: #fff;
    position: absolute;
    left: 50%;
    margin-left: -450px;
    top: 35px;
}

#siteTitle a {
    position: absolute;
    text-indent: -9999px;
    text-decoration: none;
    width: 600px;
}

#siteTitle a:hover {
    color: #fff;
}

.navigation {
    position: absolute;
    top: 110px;
    left: 50%;
    margin-left: -470px;
}

.navigation form {
    display: inline;
}

.navigation input {
    border: 1px solid #f40;
    width: 80px;
}

#content {
    position: relative;
    width: 960px;
    left: 50%;
    margin-left: -482px;
    text-align: center;
    margin-top: 180px;
}

#footer {
    height: 40px;
}

div.item-container {
    margin: 20px 0;
    position: relative;
}

div.item {
    position: relative;
    display: inline-block;
    padding: 10px;

    text-align: left;
    font-size: 13px;
}

h2 {
    font-size: 16px;
    display: inline-block;
}

h3 {
    float: right;
}

div.item-container div.date {
    float: right;
    display: inline-block;
}

.image-holder {
    /*text-align: center;*/
}

.border {
    width: 100%;
    height: 100%;
}

.top {
    position: absolute;
    height: 50px;
    text-align: center;
    left: 10px;
    top: 0;
    margin-top: 30px;
    width: auto;
    right: 10px;
    background: url(/images/border_top.png) repeat-x;
}

.left {
    width: 50px;
    position: absolute;
    top: 0;
    margin-top: 30px;
    bottom: 10px;
    height: auto;
    background: url(/images/border_left.png) repeat-y;
}

.right {
    position: absolute;
    right: 10px;
    width: 50px;
    top: 0;
    margin-top: 30px;
    bottom: 10px;
    height: auto;
    background: url(/images/border_right.png) repeat-y;
}

.bottom {
    position: absolute;
    height: 50px;
    text-align: center;
    bottom: 10px;
    left: 10px;
    right: 10px;
    width: auto;
    background: url(/images/border_bot.png) repeat-x;
}

.image {
    height: auto;
    text-align: center;
}

div.tags {
    display: inline-block;
    width: 70%;
}

div.tags a {
    text-decoration: none;
}

div.tags ul {
    display: inline;
}

div.tags ul li {
    display: inline;
    padding: 0 2px;
}

.form-container {
    margin: 20px 0;
}

.form-container form {
    margin-left: 100px;
    width: 500px;
    text-align: left;
    padding-left: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #fff;
}

.form-container form div {
    margin: 10px 0;
}

.clear {
    clear: both;
    float: none;
}

.permalink {
    display: inline-block;
    position: absolute;
    text-indent: -9999px;
    right: 2px;
    bottom: 2px;
}

.permalink a {
    display: block;
    width: 8px;
    height: 8px;
    background-image: url("../images/link.gif");
}

.pages-navigation-helper {
    font-size: 14px;
    position: absolute;
    right: 20px;
    top: 0;
    margin-top: -20px;
    font-variant: small-caps;
}

.pages-navigation-helper .hint {
    padding: 0 2px;
    color: #c85840;
}

#back-to-page-top {
    position: fixed;
    left: 0;
    top: 0;
    width: 80px;
    height: 100%;
    background-color: #0a0a0a;
    opacity: .2;
    text-align: center;
    cursor: pointer;
}

#back-to-page-top a {
    position: relative;
    display: block;
    top: 90%;
    color: #f40;
    text-decoration: none;
}

#back-to-page-top.page-top-link-hover {
    opacity: .8;
}

.register-form {
    margin-left: 50px;
    text-align: left;
}

.register-form form {
    margin-top: 20px;
}

.register-form input {
    padding: 2px;
    margin: 4px 2px;
}

.register-form label {
    display: inline-block;
    width: 125px;
}

.register-form input[type=submit] {
    margin-top: 20px;
    width: 100px;
}

span.rating {
    font-weight: normal;
    font-size: 14px;
}

span.rating a {
    text-decoration: none;
}

.paginator .pages {
    display: inline-block;
}

.tagsSandboxLeft {

    margin: 10px;
    float:left;
    width: 13%;
    text-align: left;
}

.image-holder-sandbox {

    float:left;
    width: 69%;
}

.tagsSandboxRight {

    float:left;
    width: 14%;
    text-align: left;
}