@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
    font-family: Arial;
}

body {
    background-color: #000;
    color: #fff;
}

a {
    color: #fff;
}

a:hover {
    color: #f40;
}

#page {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("../images/bg.jpg") no-repeat top center;
}

#siteTitle {
    color: #fff;
    position: absolute;
    left: 50%;
    margin-left: -450px;
    top: 35px;
}

#siteTitle a {
    position: absolute;
    text-indent: -9999px;
    text-decoration: none;
    width: 600px;
}

#siteTitle a:hover {
    color: #fff;
}

.navigation {
    position: absolute;
    top: 110px;
    left: 50%;
    margin-left: -400px;
}

#content {
    position: relative;
    width: 960px;
    left: 50%;
    margin-left: -482px;
    text-align: center;
    margin-top: 180px;
}

#footer {
    height: 40px;
}

div.item-container {
    margin: 20px 0;
    position: relative;
}

div.item {
    position: relative;
    display: inline-block;
    padding: 10px;
    border: 1px solid;
    text-align: left;
    font-size: 13px;
}

h2 {
    font-size: 16px;
    display: inline-block;
}

h3 {
    float: right;
}

div.item-container div.date {
    float: right;
    display: inline-block;
}

div.tags {
    display: inline-block;
}

div.tags a {
    text-decoration: none;
}

div.tags ul {
    display: inline;
}

div.tags ul li {
    display: inline;
    padding: 0 2px;
}

.form-container {
    margin: 20px 0;
}

.form-container form {
    margin-left: 100px;
    width: 500px;
    text-align: left;
    padding-left: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #fff;
}

.form-container form div {
    margin: 10px 0;
}

.clear {
    clear: both;
    float: none;
}

.pages {
    display: inline-block;
}

.permalink {
    display: inline-block;
    position: absolute;
    text-indent: -9999px;
    right: 2px;
    bottom: 2px;
}

.permalink a {
    display: block;
    width: 8px;
    height: 8px;
    background-image: url("../images/link.gif");
}

.pages-navigation-helper {
    font-size: 14px;
    position: absolute;
    right: 20px;
    top: 0;
    margin-top: -20px;
    font-variant: small-caps;
}

.pages-navigation-helper .hint {
    padding: 0 5px;
    color: #c85840;
}