<span class="rating">[
    {% if isRegisterUser %}
        {% if item.canVote %}
            <a href="/post/vote/up/{{ item.id }}" class="vote"> + </a>
        {% endif %}
    {% else %}
        <a href="/register"> + </a>
    {% endif %}
    <span class="count"> {{ item.rating }} </span>
    {% if isRegisterUser %}
        {% if item.canVote %}
            <a href="/post/vote/down/{{ item.id }}" class="vote"> - </a>
        {% endif %}
    {% else %}
        <a href="/register"> -</a>
    {% endif %}
    ]
</span>