<span class="rating">[
    {% if item.canVote %}
        <a href="/post/vote/up/{{ item.id }}"> + </a>
    {% endif %}
    <span class="count"> {{ item.rating }} </span>
    {% if item.canVote %}
    <a href="/post/vote/down/{{ item.id }}"> - </a>
    {% endif %}]
</span>