<span class="rating">[
    {% if item.canVote and isRegisterUser %}
        <a href="/post/vote/up/{{ item.id }}" class="vote"> + </a>
    {% else %}
        <a href="/register"> + </a>
    {% endif %}
    <span class="count"> {{ item.rating }} </span>
    {% if item.canVote and isRegisterUser %}
    <a href="/post/vote/down/{{ item.id }}" class="vote"> - </a>
{% else %}
    <a href="/register"> - </a>
{% endif %}]
</span>