<form action="/post/edit/{{ post.id }}" method="post" id="editorForm">
    <label for="title">название женщины</label>
    <input type="text" id="title" name="title" value="{{ post.title }}" />
</form>
<a href="#" class="save">сохранить</a>