<span>Tags: </span>
<ul>
    {% for tag in item.tags %}
        <li><a href="/tag/{{ tag.id }}">{{ tag.title }}</a>{% if isAdmin %}(<a href="#" class="delete-tag">x</a>){% endif %}</li>
    {% endfor %}
</ul>
{% if isAdmin %}
    <a href="#" class="add-tag">add</a>
    <script>
        $(document).ready(function(){
            setupDeleteTagButtons();
            setupAddTagButton();
        });

        function deleteTag(tag) {
            tag.parent().remove();
        }

        function setupDeleteTagButtons() {
            $('a.delete-tag').click(function () {
                deleteTag($(this));
                return false;
            });
        }

        function setupAddTagButton() {
            $('a.add-tag').click(function () {
                return false;
            });
        }
    </script>
{% endif %}