<span>Tags: </span>
<ul id="tagList">
    {% for tag in item.tags %}
        <li><a href="/tag/{{ tag.title }}">{{ tag.title }}</a>{% if isAdmin %}(<a href="#" class="delete-tag">x</a>){% endif %}</li>
    {% endfor %}
</ul>
{% if isAdmin %}
    <a href="#" class="add-tag" onclick="return setupAddTagButton();">add</a>
    <script>
        $(document).ready(function(){
            setupDeleteTagButtons();
            //setupAddTagButton();
        });

        function deleteTag(tag) {
            tag.parent().remove();
        }

        function setupDeleteTagButtons() {
            $('a.delete-tag').click(function () {
                deleteTag($(this));
                return false;
            });
        }

        function setupAddTagButton() {
            $.get('/tag/editor/{{ item.id }}', function(data) {
                var html = '<li id="tagEditorWrapper">' + data + '</li>';
                $('#tagList').append(html);
            });
            return false;
        }
    </script>
{% endif %}