<!DOCTYPE html>
<html>
<head>
    <title>{{ siteTitle }}</title>
</head>
<body>
<div>
    <form id="uploadImages" action="/upload" method="POST" enctype="multipart/form-data">
        <div class="fileUpload">
            <span class="title">файлик с тёткой. то, что у меня стоит лимит в 1Гб не значит, что надо тестить с такими файликами</span>
            <input type="file" name="image"/>
        </div>
        <input type="submit" value="запостить"/>
    </form>
</div>
</body>
</html>