{% if user %}
    <a class="btn btn-inverse" href="/user">{{ user.email }}</a>  <a class="btn btn-inverse" href="/logout">logout</a>
{% else %}
    <form class="form-inline" action="/login" method="post">
        <span class="btn btn-inverse disabled">login</span>
        <input type="text" name="email" placeholder="login"/>
        <input type="password" name="pass"/>
        <input class="btn btn-inverse" type="submit" value=" enter "/>
    </form>
    <a  class="btn btn-inverse" href="/register">register</a>
{% endif %}
&nbsp;&nbsp;
<a class="btn btn-inverse" href="/" rel="nofollow">all</a> <a class="btn btn-inverse" href="/best/">best</a>
{% if isAdmin %}
    &nbsp;<a class="btn btn-inverse" href="/upload">upload</a>
    &nbsp;<a class="btn btn-inverse" href="/sandbox/new">sandbox</a>
{% endif %}