{% extends "main.twig" %}
{% block content %}


    {% if isAdmin %}
        {% include "adminScripts.twig" %}
    {% endif %}




        <div class="image-holder-sandbox">
            <img src="{{ path }}" width="600"/>
        </div>




    <div class="tagsSandbox">
        <b>Color</b><br>
        <span><input type="radio" name="color" value="tagBlackWhite"> Black&White <br></span>
        <span><input type="radio" name="color" value="tagColored"> Colored <br> </span>
        <span><input type="radio" name="color" value="tagSepia"> Sepia <br> </span>
        <br>
        <b>Hair color</b><br>
            <span><input type="radio" name="HairColor" value="tagBlonde"> Blonde <br></span>
            <span><input type="radio" name="HairColor" value="tagRed"> Red <br> </span>
            <span><input type="radio" name="HairColor" value="tagBrunette"> Brunette <br> </span>
        <br>
        <b>Position</b><br>
        <span><input type="radio" name="Position" value="tagUpright"> Upright <br></span>
        <span><input type="radio" name="Position" value="tagRecumbent"> Recumbent <br> </span>
        <span><input type="radio" name="Position" value="tagHalfRecumbent"> HalfRecumbent <br> </span>
        <br>
        <b>Dresscode</b><br>
        <span><input type="radio" name="Dresscode" value="tagDressed"> Dressed <br></span>
        <span><input type="radio" name="Dresscode" value="tagNude"> Nude <br> </span>
        <span><input type="radio" name="Dresscode" value="tagTop-dressed"> Top-dressed <br> </span>
        <span><input type="radio" name="Dresscode" value="tagBottom-dressed"> Bottom-dressed <br> </span>
        <span><input type="radio" name="Dresscode" value="tagUnderwear"> Underwear <br> </span>
        <span><input type="checkbox" name="Dresscode" value="tagHeaddress"> Headdress <br> </span>
        <br>
        <b>Background</b><br>
        <span><input type="radio" name="Background" value="tagUpright"> Landscape  <br></span>
        <span><input type="radio" name="Background" value="tagStudio"> Studio <br> </span>
        <span><input type="radio" name="Background" value="tagFlat"> Flat <br> </span>
        <span><input type="radio" name="Background" value="tagIndustrial"> Industrial <br> </span>
        <span><input type="radio" name="Background" value="tagArchitecture"> Architecture <br> </span>
        <br>
        <b>Type</b><br>
        <span><input type="radio" name="Type" value="tagPortrait"> Portrait <br></span>
        <span><input type="radio" name="Type" value="tagTorso"> Torso <br> </span>
        <span><input type="radio" name="Type" value="tagStature"> Stature <br> </span>
        <span><input type="radio" name="Type" value="tagFar"> Far <br> </span>
        <br>

    </div>





{% endblock %}